* {
    margin: 0;
    padding: 0;
}
section {
    display: grid;
}
h2{
    font-size: 1.25rem;
    border-left: 6px solid red;
    background: linear-gradient(90deg, rgba(0, 0, 20, 0.97), rgb(0, 0, 100), rgba(0, 0, 60, 0.97));
    color: white;
    padding: 5px;
}
.nav-list li{
    display: inline-flex;
}
.nav-container {
    grid-template-areas: 
    "nav-list nav-list"
    "nav-pic nav-text";
    grid-template-columns: 51% 47%;
    gap: 1%;
}
.nav-pic{
    grid-area: nav-pic;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 0px;
    margin-top: 19px;
    margin-top: 38px;
}
.nav-text{
    padding-top: 15px;
    grid-area: nav-text;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 38px;
}
.nav-text h2{
    padding-bottom: 10px;
    font-size: 2rem;
    background: white;
    color:  blue;
    border: 0 solid;
    -webkit-text-stroke: 0.5px black;
}
.nav-list {
    grid-area: nav-list;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5rem;
    background: linear-gradient(90deg, rgb(0, 100, 200), rgb(0, 150, 200), rgb(0, 100, 200));
    color:white;
    position: fixed;
    width: 100%;
}
.nav-list ul {
    list-style: none;
    width: 100%;
    display: flex;  
    justify-content: space-evenly;  
}
.nav-list li {
    padding-bottom: 5px;
}
.nav-list a{
    padding: 10px;
}
.notalink{
    text-decoration: underline;
}
.link{
    text-decoration: none;
    color: rgb(180, 180, 180);
}
.link:hover {
    background-color:white;
    color: darkgrey;
    text-decoration: underline;
}
.main-container{
    /*grid-template-areas: 
    "left main main right";*/
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));  
}
.main-container div{
    font-family: 'Franklin Gothic Medium';
    font-size: 1.25rem;
    padding: 15px;
    text-align: justify;
}
.main-container h2{
    margin-top: 15px;
    margin-bottom: 10px;
}
.main{
    grid-column: span 2;
}
.main ul{
    list-style: none;
    text-indent: 5px;
    text-align: left;
}
.main ul li::before{
    content: '- ';
    text-indent: 5px;
}
.right ul{
    list-style: none;
    text-indent: 5px;
    text-align: left;
}
.right ul li::before{
    content: '- ';
    text-indent: 5px;
}
.footer-container{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px; 
    background-color: rgb(240, 240, 240);
}
.footer-container div{
    font-size: 1rem;
    padding: 15px 17px 0px;
}
.footer-container h2{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;  
}
@media (min-width: 320px) and (max-width: 479.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        display: flex;
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1.1rem;
    }
    .nav-list ul{
        padding: 0px;
        flex-wrap: wrap;
    }
    .nav-list li a{
        text-align: center;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 75px;
        padding-right: 0px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1.1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        margin-top: 30px;
        padding: 0px;
        margin: 10px;
        font-size: 1.1rem;
    }
    .footer-container{
        margin: 10px;
        padding: 0px;
        font-size: 1.1rem;
    }
    .footer-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
}
@media (min-width: 480px) and (max-width: 767.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        display: flex;
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-list ul{
        flex-wrap: wrap;
    }
    .nav-list li a{
        text-align: center;
    }
    .nav-pic{
        margin-top: 80px;
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 1;
        grid-row: span 2;
    }
    .footer-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
    }
    .footer-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 38px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 1;
        grid-row: span 2;
    }
    .footer-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
    }
    .footer-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 38px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 2;
        grid-row: span 1;
    }
    .left{
        grid-row: span 1;
        grid-column: span 1;
    }
    .right{
        grid-column: span 3;
    }
    .footer-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 3px;
    }
    .footer-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
}
@media (min-width: 615px) and (max-width: 767.98px){
    .nav-pic{
        margin-top: 38px;
    }
}