* {
    margin: 0;
    padding: 0;
}
section {
    display: grid;
}
p{
    font-family: 'Times New Roman';
}
li{
    font-family: 'Times New Roman';
}
h2{
    font-size: 1.25rem;
    border-left: 6px solid red;
    background: linear-gradient(90deg, rgba(0, 0, 20, 0.97), rgb(0, 0, 100), rgba(0, 0, 60, 0.97));
    color: white;
    padding: 5px;
    font-family: 'Franklin Gothic Medium';
}
.nav-list li{
    display: inline-flex;
}
.nav-container {
    grid-template-areas: 
    "nav-list nav-list"
    "nav-pic nav-text";
    grid-template-columns: 51% 47%;
    gap: 1%;
}
.nav-pic{
    grid-area: nav-pic;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 0px;
    margin-top: 19px;
    margin-top: 38px;
}
.nav-text{
    padding-top: 15px;
    grid-area: nav-text;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 38px;
}
.nav-text h2{
    padding-bottom: 10px;
    font-size: 2rem;
    background: white;
    color:  blue;
    border: 0 solid;
    -webkit-text-stroke: 0.5px black;
}
.nav-list {
    grid-area: nav-list;
    background: linear-gradient(90deg, rgb(0, 100, 200), rgb(0, 150, 200), rgb(0, 100, 200));
    position: fixed;
    width: 100%;
}
.nav-list li{
    grid-area: nav-list;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5rem;
    color:white; 
    padding-bottom: 5px;
}
.nav-list ul {
    list-style: none;
    width: 100%;
    display: flex;  
    justify-content: space-evenly;  
}
.nav-list a{
    padding: 10px;
}
.notalink{
    text-decoration: underline;
}
.moon-pic{
    width: 100%;
}
.link{
    text-decoration: none;
    color: rgb(180, 180, 180);
}
.link:hover {
    background-color:white;
    color: black;
    text-decoration: underline;
}
.main-container{
    /*grid-template-areas: 
    "left main main right";*/
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));  
}
.main-container div{
    font-size: 1.25rem;
    font-weight: 100;
    padding: 15px;
    text-align: justify;
}
.main-container h2{
    margin-top: 15px;
    margin-bottom: 10px;
}
.main{
    grid-column: span 2;
}
.main ul{
    list-style: none;
    text-indent: 5px;
    text-align: justify;
}
.right ul{
    text-align: left;
}
.additional-container{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px; 
}
.additional-container div{
    font-size: 1rem;
    padding: 15px 17px 0px;
}
.additional-container h2{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;  
}
.footer-container{
    background-color: rgb(225, 225, 225);
}
.qr{
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
}
.qr span{
    text-decoration: none;
}
.number{
    position: relative;
    top: -120px;
    text-align: center;
    height: 20px;
    align-content: space-between;
}
.githubref{
    background: url(assets/github.png)no-repeat;
    background-size: cover;
    display: inline-flex;
    position: relative;
    left: 20px;
    height: 100px;
    width: 100px; 
    text-decoration: none;
    text-align: center;
}
.githubref span{
    position: absolute;
    top: 100px;
    color: black;
}
.apple{
    background: url(assets/mobile_qr-apple.png)no-repeat;
    background-size: cover;
    height: 100px;
    left: 100px;
    position: relative;
    display: inline-flex;
    width: 100px;
    text-decoration: none;   
    text-align: center;
}
.apple span{
    position: absolute;
    top: 100px;
    color: black;
}
.google{
    background: url(assets/mobile_qr-google.png)no-repeat;
    background-size: cover;
    height: 100px;
    left: 120px;
    position: relative;
    display: inline-flex;
    width: 100px;
    text-decoration: none;
    text-align: center;
}
.google span{
    position: absolute;
    top: 100px;
    color: black;
}
.date{
    text-align: center;
}
.rockets-container{
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
}
.rocket{
    width: 49vw;
    text-align: justify;
}
.rocket-main{
    display: inline-flex;
}
.rocket-main img{
    margin: 5px 10px;
}
.rocket-main p{
    margin: 5px 10px;
    display: flex;
    align-items: flex-start;
    font-family: 'Times New Roman';
    font-size: 1.1rem;
}
.mks-pic{
    width: 100%;
    margin-top: 15px;
}
.podpis{
    justify-content: center;
    display: flex;
    color: rgb(100, 100, 100);
}
@media (min-width: 320px) and (max-width: 479.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        display: flex;
        grid-area: nav-list;
        grid-column: span 2;
        width: 100vw;
    }
    .nav-list ul{
        padding: 0px;
        flex-wrap: wrap;
    }
    .nav-list li a{
        text-align: center;
        font-size: 1rem;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 75px;
        padding-right: 0px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1.1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        margin-top: 30px;
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
        margin: 0px 5px;
        font-size: 1.1rem;
        width: 100vw;
        text-align: justify;
    }
    .main-container h2{
        width: 70vw;
    }
    .left{
        margin: auto 10px auto 10px;
    }
    .additional-container{
        margin: 10px;
        padding: 0px;
        font-size: 1.1rem;
    }
    .additional-container div{
        padding: 0px;
        width: 98vw;
        text-align: justify;
    }
    .additional-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
    .footer-container{
        font-size: 0.95rem;
    }
    .qr{
        width: 100vw;
        position: relative;
        top: 45px;
        justify-content: space-around;
    }
    .githubref{
        left: 0;
        width: 75px;
        height: 75px;
    }
    .apple{
        left: 0;
        width: 75px;
        height: 75px;
    }
    .google{
        left: 0;
        width: 75px;
        height: 75px;
    }
    .githubref span{
        top: 75px;
        width: 100px;
    }
    .apple span{
        top: 75px;
        width: 100px;
    }
    .google span{
        top: 75px;
        width: 100px;
    }
    .number{
        top:-110px;
    }
    .rocket-main{
        flex-wrap: wrap;
    }
    .rocket-main img{
        width: 50%;
        height: 50%;
    }
    .rocket{
        width: 100vw;
    }
}
@media (min-width: 480px) and (max-width: 767.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        display: flex;
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-list ul{
        flex-wrap: wrap;
    }
    .nav-list li a{
        text-align: center;
    }
    .nav-pic{
        margin-top: 80px;
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 1;
        grid-row: span 2;
    }
    .additional-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
    }
    .additional-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
    .qr{
        width: 100vw;
        position: relative;
        top: 50px;
        justify-content: space-around;
    }
    .githubref{
        left: 0;
    }
    .apple{
        left: 0;
    }
    .google{
        left: 0;
    }
    .githubref span{
        width: 100px;
    }
    .apple span{
        width: 100px;
    }
    .google span{
        width: 100px;
    }
    .number{
        position: relative;
        top: -130px;
    }
    .date{
        margin-top: 10px;
    }
    .rocket-main{
        flex-wrap: wrap;
    }
    .rocket-main img{
        width: 50%;
        height: 50%;
    }
    .rocket{
        width: 100vw;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 38px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 1;
        grid-row: span 2;
    }
    .additional-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
    }
    .additional-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
    .qr{
        width: 100vw;
        position: relative;
        top: 60px;
        justify-content: space-around;
    }
    .githubref{
        left: 0;
    }
    .apple{
        left: 0;
    }
    .google{
        left: 0;
    }
    .githubref span{
        width: 100px;
    }
    .apple span{
        width: 100px;
    }
    .google span{
        width: 100px;
    }
    .date{
        margin-top: 20px;
    }
    .rocket-main{
        flex-wrap: wrap;
    }
    .rocket-main img{
        width: 50%;
        height: 50%;
    }
    .rocket{
        width: 100vw;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    h2{
        font-size: 1rem;
        font-weight: 500;
    }
    .nav-container{
        grid-template-areas: 
        "nav-list"
        "nav-pic"
        "nav-text";
        gap: 0%;
    }
    .nav-list{
        grid-area: nav-list;
        grid-column: span 2;
        font-size: 1rem;
    }
    .nav-pic{
        grid-area: nav-pic;
        grid-column: span 2;
        padding-bottom: 5px;
        margin-top: 38px;
    }
    .nav-text{
        grid-area: nav-text;
        grid-column: span 2;
        font-size: 1rem;
        margin: auto 10px auto 10px; 
        text-align: justify;
        padding-top: 5px;
    }
    .main-container div{
        padding: 0px;
        margin: 10px;
        font-size: 1rem;
    }
    .main{
        grid-column: span 2;
        grid-row: span 1;
    }
    .left{
        grid-row: span 1;
        grid-column: span 1;
    }
    .right{
        grid-column: span 3;
    }
    .additional-container{
        margin: 10px;
        padding: 0px;
        font-size: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 3px;
    }
    .additional-container h2{
        text-align: left;
    }
    .link:hover {
        color: black;
    }
    .qr{
        width: 100vw;
        position: relative;
        top: 60px;
        justify-content: space-around;
    }
    .githubref{
        left: 0;
    }
    .apple{
        left: 0;
    }
    .google{
        left: 0;
    }
    .githubref span{
        width: 100px;
    }
    .apple span{
        width: 100px;
    }
    .google span{
        width: 100px;
    }
    .date{
        margin-top: 20px;
    }
    .rocket-main img{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 615px) and (max-width: 767.98px){
    .nav-pic{
        margin-top: 38px;
    }
}
@media (min-width: 1200px){
    .main-container{
        grid-template-areas: 
        "left main right";
        grid-template-columns: 24% 48% 24%;
        justify-content: space-between;
    }
    .left{
        grid-area: left;
    }
    .main{
        grid-area: main;
    }
    .right{
        grid-area:right;
    }
}